In [0]:
%sql
use catalog acc_dev;
use schema alekhya;

In [0]:
%sql
create table if not exists emp(id int, name string, city string)

In [0]:
%sql desc extended emp

In [0]:
%sql
insert into emp values (1,'Alekhya','Hyderabad')

In [0]:
%sql
select * from emp

In [0]:
%sql
insert into emp values (2,'Alekhya','Hyderabad');
insert into emp values (3,'Alekhya','Hyderabad');

In [0]:
%sql
select * from emp

In [0]:
%sql desc history emp

In [0]:
%sql
desc detail emp

In [0]:
%sql
create or replace table emp_v2 as
select * from emp version as of 2 --TimeTravel

In [0]:
%sql
select * from emp_v2

In [0]:
%sql
insert into acc_dev.naval.emp values (2,"Alekhya","Hyderabad")

In [0]:
%sql
select * from acc_dev.naval.emp

In [0]:
%sql
select * from acc_dev.naval.emp timestamp as of '2025-11-05T04:43:34.000+00:00'

In [0]:
%sql
delete from acc_dev.alekhya.emp

In [0]:
restore table emp to version as of 3

In [0]:
%python
df1=spark.sql("select * from emp version as of 2")